<%- include("header.ejs") %>




    <div id="list">
        <div id="titleHeader">
            <h1 id="listTitle">
                
                <%= listOption.charAt(0).toUpperCase() + listOption.slice(1);%>
            </h1>
            <p id="date"><%= date %></p>
        </div>
        <div id="items">




            <div>
                <form id="add" action="/" method="post">
                    <input class="" type="text" name="task" placeholder="Enter your task here" required
                        autocomplete="off" />
                        <% if(listOption.toLowerCase() == "work list"){ %>
                        <button class="" type="submit" name="list" value="/">+</button>
                        <% }else{ %>
                        <button class="" type="submit" name="list" value="<%= listOption %>">+</button>

                            <% } %>
                    </form>
            </div>


            <% if(locals.listItems){ %>
                    <% listItems.forEach(function(listItem){ %>
                    <form id="delete" action="/delete" method="post">
                        <div class="item">
                        <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= listItem._id%>"/>
                        <p id="listItem">
                            <%=listItem.name%>
                        </p>
                        <input type="hidden" name="listName" value="<%= listOption%>" ></input>
                    </div>
                </form>
                    <% }) %>
                    <% } %>

        </div>
    </div>

    <div>
        <form id="add" action="/newList" method="post">
            <input class="" type="text" name="newListName" placeholder="Add New List Name Here" required
                autocomplete="off" />
            <button class="" type="submit" name="button">+</button>
        </form>
    </div>

<div id="navigation">
    <% if(locals.listButton){ %>
        <% listButton.forEach(function(button){ %>
           <% if(button.name == "Work"){ %>
           <button class="nav"><a href="/"><%= button.name.charAt(0).toUpperCase() + button.name.slice(1); %> List</a></button>
           <% }else{ %>

        <button class="nav"><a href="/<%= button.name %>"><%= button.name.charAt(0).toUpperCase() + button.name.slice(1); %> List</a></button>
        <% } %>
        <% }) %>
        <% } %>

</div>
    </body>

    </html>